# Day1

The purpose of this project is to learn how to use jupiter notebook

# writing list

# My Markdown Example

1. First item in numbered list
2. Second item in numbered list
3. Third item in numbered list

- First item in bulleted list
- Second item in bulleted list
- Third item in bulleted list

In [11]:
# printing hello world

In [13]:
print("Hello, World!")

Hello, World!

In [11]:
# opening a picture

In [ ]:
!"C:\Users\Ummu Adeel\Pictures\ceritifcate.PNG"

In [11]:
# generating a link to click

[Click here to visit OpenAI](https://www.openai.com)

In [13]:
# Defining two numbers
num1 = 10
num2 = 5

# Performing addition
addition = num1 + num2

# Performing subtraction
subtraction = num1 - num2

# Printing results
print(f"Addition of {num1} and {num2} is: {addition}")
print(f"Subtraction of {num1} and {num2} is: {subtraction}")

Addition of 10 and 5 is: 15
Subtraction of 10 and 5 is: 5

In [5]:
# this is the help function

In [15]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
# print function

In [3]:
print()

In [16]:
%time

CPU times: total: 0 ns
Wall time: 0 ns

In [20]:
%who

dataframe_columns	 dataframe_hash	 dtypes_str	 get_dataframes	 getpass	 hashlib	 import_pandas_safely	 is_data_frame	 json

| Name      | Age | Profession  |
|-----------|-----|-------------|
| Fatima Liman  | 24 | Data analyst   |

In [27]:
a=42
b=3.14
c="Python"
d=[1, 2, 3]
e={ "name": "John", "age": 30 }

In [31]:
a=str(a)
print(type(a))

<class 'str'>

In [33]:
a=float(a)
print(type(a))

<class 'float'>

In [37]:
fruits= ['mango','apple','banana','orange','berries']

In [39]:

print(type(fruits))

<class 'list'>

In [45]:
isinstance(c, str)

True

In [47]:
# Create a tuple with three different data types
my_tuple = (42, "Hello", 3.14)

# Access the second element (index 1)
second_element = my_tuple[1]

# Print the second element
print("The second element is:", second_element)

The second element is: Hello

In [49]:
# Create a dictionary with three key-value pairs
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Retrieve the value of a specific key, e.g., "age"
value_of_key = my_dict["age"]

# Print the value
print("The value of the 'age' key is:", value_of_key)

The value of the 'age' key is: 30

In [51]:
print(type(my_dict))

<class 'dict'>

In [53]:
print(type(my_tuple))

<class 'tuple'>

In [55]:
# Define a float value
float_value = 10.75

# Perform typecasting (float to int)
int_value = int(float_value)

# Print the original float and the typecasted integer
print("Original float value:", float_value)
print("Typecasted integer value:", int_value)

Original float value: 10.75
Typecasted integer value: 10

In [59]:
# Get input from the user
user_input = input("Enter something: ")

# Check if the input is a number (integer or float)
if user_input.isdigit():  # checks if input is a whole number (integer)
    print("The input is a number (integer).")
else:
    try:
        # Try to convert the input to a float
        float_value = float(user_input)
        print("The input is a number (float).")
    except ValueError:
        # If conversion to float fails, it's a string
        print("The input is a string.")

Enter something:  4.9

The input is a number (float).

In [63]:
list_length = len(fruits)
tuple_length = len(my_tuple)
dict_length = len(my_dict)
print(list_length)
print(tuple_length)
print(dict_length)

5
3
3

In [67]:
x=3 
y=5
z=2
solution = x + y + z
print(solution)

10

In [75]:
# Define two variables
a = 5
b = 10
c= 15

# Print the original values
print("Before swapping:")
print("a =", a)
print("b =", b)
print("b =", c)
# Swap the values of a and b
a, b, c = b, c,a

# Print the values after swapping
print("After swapping:")
print("a =", a)
print("b =", b)
print("b =", c)

Before swapping:
a = 5
b = 10
b = 15
After swapping:
a = 10
b = 15
b = 5

In [77]:
# Assign a string to a variable
str1 = "Hello"

# Concatenate it with another string
str2 = " World!"

# Perform concatenation
result = str1 + str2

# Print the concatenated result
print(result)

Hello World!

In [79]:
x = 5 +4-1*9
print(x)

0

In [81]:
# Initialize variables
x = 10
y = 5
z = "Hello"

# Use the += compound assignment operator (addition)
x += 5  # Equivalent to x = x + 5

# Use the *= compound assignment operator (multiplication)
y *= 2  # Equivalent to y = y * 2

# Use the += operator to concatenate strings
z += " World!"  # Equivalent to z = z + " World!"

# Print the results
print("The value of x after x += 5 is:", x)
print("The value of y after y *= 2 is:", y)
print("The value of z after z += ' World!' is:", z)

The value of x after x += 5 is: 15
The value of y after y *= 2 is: 10
The value of z after z += ' World!' is: Hello World!

In [83]:
import math

# Define the radius
radius = 5

# Calculate the area of the circle
area = math.pi * radius ** 2

# Print the area
print("The area of the circle is:", area)

The area of the circle is: 78.53981633974483

In [85]:
import math

# Define the coefficients of the quadratic equation
a = 1
b = -3
c = 2

# Calculate the discriminant
discriminant = b ** 2 - 4 * a * c

# Check the discriminant to determine the nature of the roots
if discriminant > 0:
    # Two real and distinct roots
    root1 = (-b + math.sqrt(discriminant)) / (2 * a)
    root2 = (-b - math.sqrt(discriminant)) / (2 * a)
    print("The roots are real and distinct:")
    print("Root 1:", root1)
    print("Root 2:", root2)
elif discriminant == 0:
    # One real root (repeated)
    root = -b / (2 * a)
    print("There is one real root (repeated):")
    print("Root:", root)
else:
    # Complex roots
    real_part = -b / (2 * a)
    imaginary_part = math.sqrt(-discriminant) / (2 * a)
    print("The roots are complex:")
    print("Root 1:", real_part, "+", imaginary_part, "i")
    print("Root 2:", real_part, "-", imaginary_part, "i")

The roots are real and distinct:
Root 1: 2.0
Root 2: 1.0

In [87]:
# Assign a value to a variable
my_variable = 42

# Get and print the memory location of the variable
print("The memory location of my_variable is:", id(my_variable))

The memory location of my_variable is: 140713216454360

In [89]:
# Create a variable to store the person's name
person_name = "Alice"

# Print a greeting using the person's name
print("Hello, " + person_name + "! Welcome to the Python world.")

Hello, Alice! Welcome to the Python world.

In [91]:
# Define two variables
a = 10
b = 5
c = 20

# Use both arithmetic and logical operators in an expression
result = (a + b > c) and (a * b == 50)

# Print the result
print("The result of the expression is:", result)

The result of the expression is: False

In [93]:
# Assign values to the variables a and b
a = 3
b = 4

# Calculate (a + b)^2 using the expanded formula
result = a**2 + 2*a*b + b**2

# Print the result
print("The result of (a + b)^2 is:", result)

The result of (a + b)^2 is: 49